<!DOCTYPE html>
<html ng-app="quoteBook">
<head>
    <title>Quote Book</title>
    <link href="style.css" rel="stylesheet">
</head>
<body ng-controller="MainController">
    
    <div class="headBox">
			<div class="btnBox">
				<button ng-click="toggle()">Add a Quote</button>
				<div class="subBox">
					<form ng-show="showForm">
						<input type="text" placeholder="Enter new Quote" ng-model="text">
						<input type="text" placeholder="Author Name" ng-model="author">
						<button ng-click="addData()">Add New Quote to List</button>
					</form>
				</div>
			</div>
			<div class="btnBox">
				<button ng-click="showRemove()">Remove Quote</button>
			</div>
			<div class="btnBox">
				<button ng-click="filterOn = !filterOn">Filter Quotes</button>
      			<input ng-show="filterOn" ng-model="searchTerm" type='text' placeholder="Enter Quote here">
			</div>
		</div>
    
    
    
    <div class='container' ng-repeat='quote in quotes | filter : searchTerm'>
        <p>{{quote.text}} <button ng-show="showRemoveQuote" ng-click="removeData($index)">Delete</button></p>
        <p>--{{quote.author}}</p>
    </div>
   
<script src="http:////cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.12/angular.min.js"></script>
<script src="js/app.js"></script>
<script src="js/dataService.js"></script>
<script src="js/mainController.js"></script>
</body>
</html>