html, body {
	width: 100%;
	height: 100%;
    margin: 0 auto;
}

button {
	float: left;
}

.container {
	width: 60%;
	border: 1px solid #6d6d6d;
	border-radius: 5px;
	text-align: center;
	margin: 10px auto;
}

.container button {
	z-index: 1;
	float: right;
	clear: both;
}

.btnbox {
	display: flex;
	margin-top: 25px;
	margin-left: 20%;
	margin-right: 20%;
    margin-bottom: 50px;
	width: 60%;
	justify-content: center;
}

.headBox {
	clear: left;
}